
html {
  font-family: 'Lucida Grande', 'Lucida Sans';
}

#app {
}
  
#cage {
  margin: 0 auto;
  width: 600px;
}

#content > div {
  margin: 10px;  
  padding: 10px;  
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

header {
  text-align: center;
}

#parsers .control, #subject .control {
  margin-top: 5px;
}

#subjects .subject {
  border-radius:5; background:white; 
  color:#30273a;padding:10px;
  margin:10px
}
#subjects .subject>button.remove {
  float:right;
}
#subjects .subject .name {font-weight:bold;}
#subjects .subject .code {text-decoration:underline; }


.ui-widget-header {
  margin: 5px;  
  padding: 5px;  
}

.ui-widget {
  font-size: 0.85em;
}
.ui-widget .ui-widget {
  font-size: 0.75em;
}

.left { float:left; }
.right { float:right; }