<html>
<head>
     <!--
     ** Google Calendar Auto Timetabler
     * @author jpillora
     * @date 13/06/2012
     * @version 0.1
     *
    <script src="http://cdn.jpillora.com/js/backbone.js"></script>
    -->
    <link  href="http://cdn.jpillora.com/css/reset.css" rel="stylesheet" type="text/css">
    <link  href="css/app.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.jpillora.com/js/jquery.js"></script>
    <script src="http://cdn.jpillora.com/js/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js"></script>
    <script src="setup.js"></script>
    <script src="subject.js"></script>
    <script src="class.js"></script>
    <script src="app.js"></script>
</head>
<body id="app">

  <div id="subjects">
    <h3>Subjects</h3>
    <hr/>
    <div class="control">
      <button id="createSub">Create Subject</button>
    </div>
    
    <div id="subject-list"></div>
  </div>
  
  
  <!-- Templates -->
  <script type="text/template" id="subject-template">
    <h1 class="code"><%= code %></h1>
    <h3 class="name"><%= name %></h3>
    <button class="removeThis">Remove This</button>
    <div class='classes'>
      <label>Classes</label>
      <div class="list"></div>
      <div class="control">
        <button class="create">Create Class</button>
        <button class="removeAllClasses">Remove All Classes</button>
      </div>
      
    </div>
  </script>
  <script type="text/template" id="class-template">
    <span><%= location %></span>
  </script>
  
  
</body>
</html>