<td style="font-weight:bold;"><div>{{= location }}</div></td>
<td><div>{{= start }}</div></td>
<td><div>{{= end }}</div></td>
<td><div><button class="remove" data-icon="trash" data-hidetext="true">Remove</button></div></td>