<div class="summ ui-widget-header ui-corner-all">
  <label class="editable" data-name="summary">{{= summary }}</label>
  <button class="remove right" data-icon="trash" data-hidetext="true">Remove</button>
</div>
<div class="desc">
  <label class="editable" data-name="description" data-multiline>{{= description }}</label>
</div>
<div class='classes padit'>
  <label>Classes</label>
  <div class="list">
  </div>
  <div class="control">
    <button class="create" data-icon="plus">Create Class</button>
  </div>
</div>