<!DOCTYPE html>
<html>
<head>
	<!--
	** Google Calendar Auto Timetabler
	* @author jpillora
	* @date 13/06/2012
	* @version 0.2
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />

  <title>AutoTimetabler</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
